main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 60px;
}

* {
  text-decoration: none;
}

.search-2{
  display: none;
}

.covers {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
}

.covers img {
  max-width: 280px;
  margin: 20px 20px 10px 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
}

figure {
  display: inline-block;
}

figcaption {
  text-align: center;
}

.text {
  grid-column: 1/4;
  grid-row: 2;
  text-align: center;
  margin-top: 40px;
}


.browse-button {
  grid-column: 1/4;
  grid-row: 3;
  place-self: center;
  margin-top: 20px;
}

.browse-button .browse {
  position: relative;
  width: 160px;
  height: 46px;
  margin: 10px;
}

.browse-button .browse a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  z-index: 1;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.browse-button .browse:hover a {
  letter-spacing: 3px;
  color: #24252a;
}

.browse-button .browse a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.15),transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.3s;
}

.browse-button .browse:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.browse-button .browse::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 100px;
  height: 10px;
  background: #18b7be;
  transition: 0.3s;
}

.browse-button .browse:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.3s;
}

.browse-button .browse::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 100px;
  height: 10px;
  background: #18b7be;
  transition: 0.3s;
}

.browse-button .browse:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.3s;
}

.browse-button .browse::before,
.browse-button .browse::after {
  background: #ffcb9a;
  box-shadow: 0 0 5px #ffcb9a,
  0 0 15px #ffcb9a,
  0 0 30px #ffcb9a,
  0 0 60px #ffcb9a;
}

@media (max-width: 1300px ) {

  .covers img {
    max-width: 240px;
  }
}

@media (max-width: 1260px ) {

  .covers img {
    max-width: 220px;
  }
}

@media (max-width: 1170px ) {

  .covers img {
    max-width: 180px;
  }
}

@media (max-width: 1065px ) {

  .covers img {
    max-width: 140px;
  }


}

@media (max-width: 1010px ) {

  .covers img {
    max-width: 280px;
  }

  .covers {
    grid-column: 1/5;
    grid-row: 4;
  }

  .text {
    grid-column: 1/4;
    grid-row: 2;
    padding-bottom: 20px;
  }

  .browse-button {
    grid-column: 1/5;
    grid-row: 3;
    padding-bottom: 20px;
  }

}

@media (max-width: 800px) {
  .search-2{
    display: grid;
    grid-column: 1/4;
    grid-row: 1;
    justify-content: center;
    margin-top: 0;
  }
}

@media (max-width: 650px ) {

  .covers img {
    max-width: 200px;
  }

  h1 {
    font-size: 24px;
  }

  main {
    padding: 20px;
  }


}